<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- ***********************  Header  *********************** -->
        <header class="clearfix">
            <div class="clearfix">
                <h1><a href="/">Weatherman</a></h1>
                <div class="navigation-bar">
                    <a href="https://github.com/aecobb53/weatherman">GitHub</a>
                    <a href="/about-weatherman">About Weatherman</a>
                    <a href="/setup">Setup</a>
                    <a href="/bug-report">Bug Report</a>
                </div>
            </div>
            <!-- ***********************  Menu  *********************** -->
            <div>
                <!-- <div class="main-menu"> -->
                <ul class="main-menu">
                    <li><a href="/report">Reports</a></li>
                    <li><a href="/dump">Data dump</a></li>
                    <li><a href="#">Real-time Weather</a></li>
                    <li><a href="/state/">State</a></li>
                    <li><a href="/poll">Poll data on click</a></li>
                </ul>   
            </div>
        </header>
        {% block main %}
        {% endblock %}
    </body>
</html>




















