{% extends 'base.html' %}
{% block title %}Weatherman about{% endblock %}
{% block main %}

<html>
    <head>
        <link rel="stylesheet" href="static/setup.css">
    </head>
    <body>
        <div class="main">
            <section>
                <h2>Setup Weatherman</h2>
                <p class="short-explanation">
                    There are two itesms and a few directories that are not uploaded to the github so those need to be set up. 
                    The item sare each users individual Open Weather Map API (OWMA) key and the list of locations they are polling for. 
                </p>
            </section>
            <section>
                <form action="/setup" class="setup-selectors">
                    <div class="key">
                        <h2>API Key</h2>
                        <p>
                            If you dont have an Open Weather Map API key please follow this link and start the process: <a href="https://home.openweathermap.org/users/sign_up">OWMA key</a>. 
                        </p>
                        <div class="block">
                            <label class="selector" for="key">Key</label>
                            <input type="text" id="key-box" size="32" name="key" placeholder="{{dict.key}}">
                        </div>
                    </div>
                    <div class="locations">
                        <h2>Locations</h2>
                        <p>Current list of locations:</p>
                        {% for key, value in dict.locations.items() %}
                            <p>
                                <label for="delete:{{value}}">{{key}}: {{value}}</label>
                                <input class="locations-check" type="checkbox" name="delete" value="{{value}}">
                                <label for="delete:{{value}}">(Delete)</label>

                                <label class="locations-check" for="newname">New name</label>
                                <input type="text" name="newname" value="{{key}}">
                            </p>
                        {% endfor %}
                    </div>
                    <div class="submit">
                        <input type="submit" id="set-it-up" value="setup" name="action">
                        <label class="submitter" for="Set-it-up">Submit the updates and run setup</label>
                        <input type="submit" id="refresh" value="refresh" name="action" autofocus>
                        <label class="submitter" for="Set-it-up">Refresh page before submitting</label>
                    </div>
                    <div>
                        <h2>Location searcher</h2>
                        <p>All selections below are optional. 
                            The searchboxs use regex syntax if that helps you make selections. 
                            The abbreviation boxes take two capital characters.
                            The lat/lon boxes will grep based on the didgets provided so provide the detail you want to search by. 
                        </p>
                        <div>
                            <div class="inline-search">
                                <label for="cityname">City name</label>
                                <input type="text" id="citySearch" name="citySearch" value="{{dict.parameters.citySearch}}">
                                <label for="cityid">City ID</label>
                                <input type="text" id="cityId" name="cityId" value="{{dict.parameters.cityId}}" pattern="^\d*$">
                            </div>
                            <div class="inline-search">
                                <label for="state-abbr">State abbr</label>
                                <input type="text" id="stateAbbr" name="stateAbbr" size="2" value="{{dict.parameters.stateAbbr}}" pattern="^[A-Z]{2}?$">
                                <label for="country-abbr">Country abbr</label>
                                <input type="text" id="countryAbbr" name="countryAbbr" size="2" value="{{dict.parameters.countryAbbr}}" pattern="^[A-Z]{2}?$">    
                            </div>
                            <div class="inline-search">
                                <label for="lat">Lat</label>
                                <input type="text" id="lat" name="lat" value="{{dict.parameters.lat}}">
                                <label for="lon">Lon</label>
                                <input type="text" id="lon" name="lon" value="{{dict.parameters.lon}}">
                            </div>
                            <div>
                                <input type="button" id="clear_search" onclick="clear_menu()" value="Clear">
                            </div>
                        </div>
                        <div class="dump-data">
                            <table>
                                <th>ID</th>
                                <th>Name</th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Lat</th>
                                <th>Lon</th>
                            {% for location in dict.results %}
                                <tr>
                                    <td>{{location.id}}</td>
                                    <td>{{location.name}}</td>
                                    <td>{{location.state}}</td>
                                    <td>{{location.country}}</td>
                                    <td>{{location.coord.lon}}</td>
                                    <td>{{location.coord.lat}}</td>
                                    <td><input type="checkbox" id="grab-city" name="city" value="{{location.id}}"></td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </body>
    <script janguage="Javascript" src="static/setup.js?version=1"></script>
</html>

{% endblock %}
